{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Student</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">All Students</h4>
        {% if stu %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for st in stu %} 
                <tr>
                    <th scope="row">{{st.id}}</th>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.password}}</td>
                    <td><a href="#" class="btn btn-warning ">Edit</a></td>
                    <td><a href="#" class="btn btn-danger ">Delete</a></td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Records Found</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}